[client]
user=root
{% if ansible_hostname == "wordpress" %}
password={{ db_root_password_on_worpress }} 
{% elif ansible_hostname == "replica" %}
password={{ db_root_password_on_replica }}
{% endif %}